pipeline/Daily T-7 Invoice Master Incremental Load.json
{
	"name": "Daily T-7 Invoice Master Incremental Load",
	"properties": {
		"activities": [
			{
				"name": "Copy data inv Det Query into File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Max Date From Invoice Master table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SybaseSource",
						"query": {
							"value": "Select * from inv_det where \nconvert(date,d_date) >='@{activity('Get Max Date From Invoice Master table').output.firstRow.Max_Date}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_Ecogreenv2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EG_Inv_Det_OutPutFile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get Max Date From Invoice Master table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Delete EG Inv_Det",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Delete EG Inv_Mst",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select DateAdd(DD,-7,max(d_date)) as Max_Date from inv_Master",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OMSSqlServerTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data inv Mst Query into File",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Max Date From Invoice Master table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SybaseSource",
						"query": {
							"value": "Select * from inv_mst \nwhere convert(date,d_date) >= '@{activity('Get Max Date From Invoice Master table').output.firstRow.Max_Date}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_Ecogreenv2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "EG_Inv_Mst_OutPutFile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete EG Inv_Det",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "EG_Inv_Det_OutPutFile",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Delete EG Inv_Mst",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "EG_Inv_Mst_OutPutFile",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Copy data EG Inv_det file to Staging Table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data inv Det Query into File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "Truncate table Inv_Det_Staging",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "c_br_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_year",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_prefix",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_srno",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_srno",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_seq",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_seq",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "d_date",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "d_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "c_item_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_item_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_batch_no",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_batch_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_qty",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_qty",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_sch_qty",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_sch_qty",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_sch_disc",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_sch_disc",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_sale_rate",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_sale_rate",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_disc_per",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_disc_per",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_st_per",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_st_per",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_cst_per",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_cst_per",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_rst_per",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_rst_per",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_tax_suffer",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_tax_suffer",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_amount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_amount",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_mf_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_mf_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_2nd_sale",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_2nd_sale",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_sp_sale_flag",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_sp_sale_flag",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_cancel_flag",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_cancel_flag",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "d_ldate",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "d_ldate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "n_vaton",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_vaton",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_tax_on_sch_qty",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_tax_on_sch_qty",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_vatts_mrp",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_vatts_mrp",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_mrp",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_mrp",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_remark",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_remark",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_tax_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_tax_amt",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_free_tax_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_free_tax_amt",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_print_batch",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_print_batch",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "d_print_exp_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "d_print_exp_dt",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "n_eff_pur_rate",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_eff_pur_rate",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_shift",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_shift",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_remark2",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_remark2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_points",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_points",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "t_ltime",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "t_ltime",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "n_req_qty",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_req_qty",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_allow_points",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_allow_points",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_qty1",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_qty1",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_card_reverse_dis",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_card_reverse_dis",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_dc_br_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_dc_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_dc_year",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_dc_year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_dc_prefix",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_dc_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_dc_srno",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_dc_srno",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_dc_seq",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_dc_seq",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_remind_days",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_remind_days",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_claim",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_claim",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_order_br_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_order_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_order_year",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_order_year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_order_prefix",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_order_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_order_no",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_order_no",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_order_seq",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_order_seq",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_claim_per",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_claim_per",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "d_print_mfg_dt",
									"type": "DateTime",
									"physicalType": "INT96"
								},
								"sink": {
									"name": "d_print_mfg_dt",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "c_ord_br_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_ord_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_ord_year",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_ord_year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_ord_prefix",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_ord_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_ord_srno",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_ord_srno",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_ord_seq",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_ord_seq",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_cont_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_cont_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_verified_qty",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_verified_qty",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_claim_qty",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_claim_qty",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_claim_val",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_claim_val",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_coupon_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_coupon_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_coupon_srno",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_coupon_srno",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_store_track",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_store_track",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_claim_reason",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_claim_reason",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_barcode",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_barcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_sman_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_sman_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_godown_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_godown_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_stk_serial",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_stk_serial",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_bom_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_bom_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_bom_seq",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_bom_seq",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_item_tax_suffer",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_item_tax_suffer",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_item_vatts_flag",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_item_vatts_flag",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_item_vatts_mrp",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_item_vatts_mrp",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_item_tax_on_sch_qty",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_item_tax_on_sch_qty",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_tray_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_tray_Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_marketplace_flag",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_marketplace_flag",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_quot_no",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_quot_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_ts_value",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_ts_value",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_pick_seq",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_pick_seq",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_share_disc",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_share_disc",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_ord_rate",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_ord_rate",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_ord_rate_diff",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_ord_rate_diff",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_integration_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_integration_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_update_stock",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_update_stock",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_adjust",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_adjust",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_currency",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_currency",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_exchange_rate",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_exchange_rate",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_gst_enabled",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_gst_enabled",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_from_gst_type",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_from_gst_type",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_hsn_sac_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_hsn_sac_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_cgst_per",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_cgst_per",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_cgst_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_cgst_amt",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_sgst_per",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_sgst_per",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_sgst_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_sgst_amt",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_igst_per",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_igst_per",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_igst_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_igst_amt",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_cess_per",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_cess_per",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_cess_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_cess_amt",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_pk",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_pk",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_to_gst_type",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_to_gst_type",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_gst_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_gst_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_taxable_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_taxable_amt",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_inv_qty",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_inv_qty",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_ref_seq",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_ref_seq",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_ord_pk",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_ord_pk",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_dc_pk",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_dc_pk",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_purord_pk",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_purord_pk",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_std_disc_per",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_std_disc_per",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_total_discount",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_total_discount",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_hold_flag",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_hold_flag",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_print_seq",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_print_seq",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_eb_seq",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_eb_seq",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "c_eb_tray_Code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_eb_tray_Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_eb_doc_no",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_eb_doc_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_supp_code",
									"type": "String",
									"physicalType": "UTF8"
								},
								"sink": {
									"name": "c_supp_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_eb_load",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_eb_load",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_add_cess_per",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_add_cess_per",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_add_cess_rev_excl",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_add_cess_rev_excl",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "n_cogs_amt",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								},
								"sink": {
									"name": "n_cogs_amt",
									"type": "Double",
									"physicalType": "float"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EG_Inv_Det_OutPutFile",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "InvDetOutputTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data EG inv_mst File to Staging  table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data inv Mst Query into File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "Truncate table Inv_Mst_Staging",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "EG_Inv_Mst_OutPutFile",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "InvMstOutputTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data invoice master",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data EG Inv_det file to Staging Table",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Copy data EG inv_mst File to Staging  table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select c_br_code, c_order_id, d_date, c_item_code, [Net Sales]\n,concat(c_br_code,'/', c_order_id, '/', c_item_code) as brcode_orderid_itemcode_key \n,Cost_value,\nconvert(decimal(18,2),([Net Sales]- Cost_value)) as Margin_value,\nconverT(decimal(18,2),(Spl_Disc_Amt + Disc_Amt)) as Tot_Disc_Amt,\ngetDate() as Load_DateTime\nfrom\n(select c_br_code, c_order_id, d_date,\n\tcase when c_item_code = 'COD' then null\n\t\t\telse c_item_code end as c_item_code\n\t\t\t, [Net Sales],Cost_value,Spl_Disc_Amt,Disc_Amt,Load_DateTime    from\n(select\tinv_mst_staging.c_br_code,\n\t\tinv_mst_staging.c_order_id,\n\t\tinv_mst_staging.d_date,\n\t\tinv_det_staging.c_item_code,\n\t\tsum(inv_det_staging.n_taxable_amt) as \"Net Sales\",\n\t\tconvert(decimal(18,2),((n_qty + n_qty1)* n_eff_pur_rate)) as Cost_value,\n\n\t\tcase when inv_det_staging.n_gst_enabled=1 then ((n_mrp *n_qty) -(n_sale_rate*n_qty))\n\t\t\t when ((n_mrp *n_qty) -(n_sale_rate*n_qty)) < 1 then 0 else ((n_mrp *n_qty) -(n_sale_rate*n_qty)) end as Spl_Disc_Amt,\n\n\t\tisnull((n_sale_rate*(n_qty + n_qty1)) * (case when n_non_taxable_ret =0 then 0 else n_disc_rs /n_non_taxable_ret end),0) + convert(decimal(18,2),((n_sale_rate*(n_qty + n_qty1))*n_disc_per/100)) as Disc_Amt,\n\t\tgetDate() as Load_DateTime\n\t\t\nfrom\t\tdbo.inv_det_staging\ninner join \n\t\t\tdbo.inv_mst_staging\n\t\t\ton \n\t\t\tdbo.inv_det_staging.c_br_code = inv_mst_staging.c_br_code\n\tand inv_det_staging.c_prefix = inv_mst_staging.c_prefix\n\tand inv_det_staging.c_year = inv_mst_staging.c_year\n\tand inv_det_staging.n_srno = inv_mst_staging.n_srno\nwhere inv_mst_staging.c_patient IS NOT NULL and  inv_mst_staging.c_cust_code = 'GC93' or inv_mst_staging.c_cust_code = 'GC793' or inv_mst_staging.c_cust_code = '751' and inv_det_staging.n_cancel_flag = 0 \ngroup by inv_mst_staging.c_br_code, \n        inv_mst_staging.c_order_id,\n\t\tinv_mst_staging.d_date,\n\t\t inv_det_staging.c_item_code,\n\t\t n_qty,n_qty1,n_eff_pur_rate,\n\t\t inv_det_staging.n_gst_enabled,n_mrp,n_sale_rate,n_non_taxable_ret,n_disc_rs,n_disc_per) a) b\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": {
							"value": "Delete from Inv_master where \nConvert(date,d_date) >= '@{activity('Get Max Date From Invoice Master table').output.firstRow.Max_Date}'",
							"type": "Expression"
						},
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "c_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_order_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_order_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "d_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "d_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "c_item_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_item_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Net Sales",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "Net Sales",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "brcode_orderid_itemcode_key",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "brcode_orderid_itemcode_key",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Cost_value",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								},
								"sink": {
									"name": "Cost_value",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Margin_value",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								},
								"sink": {
									"name": "Margin_value",
									"type": "Double",
									"physicalType": "float"
								}
							},
							{
								"source": {
									"name": "Tot_Disc_Amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 18
								},
								"sink": {
									"name": "Tot_Disc_Amt",
									"type": "Double",
									"physicalType": "float"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "InvDetandInvMstInputTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Inv_Master",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data inv Det staging to EG_inv_Det Table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data invoice master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": {
							"value": "Delete from EG_Inv_Det where \nconvert(date,d_date) >='@{activity('Get Max Date From Invoice Master table').output.firstRow.Max_Date}'",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "c_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_year",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_srno",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_srno",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_seq",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_seq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "d_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "d_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "c_item_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_item_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_batch_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_batch_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_qty",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_qty",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_sch_qty",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_sch_qty",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_sch_disc",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_sch_disc",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_sale_rate",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_sale_rate",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_disc_per",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_disc_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_st_per",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_st_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_cst_per",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_cst_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_rst_per",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_rst_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_tax_suffer",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_tax_suffer",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_amount",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_amount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_mf_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_mf_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_2nd_sale",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_2nd_sale",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_sp_sale_flag",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_sp_sale_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_cancel_flag",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_cancel_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "d_ldate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "d_ldate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "n_vaton",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_vaton",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_tax_on_sch_qty",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_tax_on_sch_qty",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_vatts_mrp",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_vatts_mrp",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_mrp",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_mrp",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_remark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_remark",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_tax_amt",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_tax_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_free_tax_amt",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_free_tax_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_print_batch",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_print_batch",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "d_print_exp_dt",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "d_print_exp_dt",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "n_eff_pur_rate",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_eff_pur_rate",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_shift",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_shift",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_remark2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_remark2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_points",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_points",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "t_ltime",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "t_ltime",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "n_req_qty",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_req_qty",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_allow_points",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_allow_points",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_qty1",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_qty1",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_card_reverse_dis",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_card_reverse_dis",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_dc_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_dc_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_dc_year",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_dc_year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_dc_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_dc_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_dc_srno",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_dc_srno",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_dc_seq",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_dc_seq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_remind_days",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_remind_days",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_claim",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_claim",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_order_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_order_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_order_year",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_order_year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_order_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_order_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_order_no",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_order_no",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_order_seq",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_order_seq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_claim_per",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_claim_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "d_print_mfg_dt",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "d_print_mfg_dt",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "c_ord_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_ord_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_ord_year",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_ord_year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_ord_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_ord_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_ord_srno",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_ord_srno",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_ord_seq",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_ord_seq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_cont_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_cont_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_verified_qty",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_verified_qty",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_claim_qty",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_claim_qty",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_claim_val",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_claim_val",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_coupon_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_coupon_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_coupon_srno",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_coupon_srno",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_store_track",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_store_track",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_claim_reason",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_claim_reason",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_barcode",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_barcode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_sman_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_sman_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_godown_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_godown_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_stk_serial",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_stk_serial",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_bom_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_bom_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_bom_seq",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_bom_seq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_item_tax_suffer",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_item_tax_suffer",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_item_vatts_flag",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_item_vatts_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_item_vatts_mrp",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_item_vatts_mrp",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_item_tax_on_sch_qty",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_item_tax_on_sch_qty",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_tray_Code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_tray_Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_marketplace_flag",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_marketplace_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_quot_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_quot_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_ts_value",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_ts_value",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_pick_seq",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_pick_seq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_share_disc",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_share_disc",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_ord_rate",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_ord_rate",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_ord_rate_diff",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_ord_rate_diff",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_integration_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_integration_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_update_stock",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_update_stock",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_adjust",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_adjust",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_currency",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_currency",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_exchange_rate",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_exchange_rate",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_gst_enabled",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_gst_enabled",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_from_gst_type",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_from_gst_type",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_hsn_sac_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_hsn_sac_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_cgst_per",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_cgst_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_cgst_amt",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_cgst_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_sgst_per",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_sgst_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_sgst_amt",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_sgst_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_igst_per",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_igst_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_igst_amt",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_igst_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_cess_per",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_cess_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_cess_amt",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_cess_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_pk",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_pk",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_to_gst_type",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_to_gst_type",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_gst_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_gst_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_taxable_amt",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_taxable_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_inv_qty",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_inv_qty",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_ref_seq",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_ref_seq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_ord_pk",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_ord_pk",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_dc_pk",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_dc_pk",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_purord_pk",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_purord_pk",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_std_disc_per",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_std_disc_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_total_discount",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_total_discount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_hold_flag",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_hold_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_print_seq",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_print_seq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_eb_seq",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_eb_seq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_eb_tray_Code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_eb_tray_Code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_eb_doc_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_eb_doc_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_supp_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_supp_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_eb_load",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_eb_load",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_add_cess_per",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_add_cess_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_add_cess_rev_excl",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_add_cess_rev_excl",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_cogs_amt",
									"type": "Double",
									"physicalType": "float"
								},
								"sink": {
									"name": "n_cogs_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "InvDetOutputTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_EG_Inv_Det",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data inv Mst Staging table to EG inv_mst Table",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data invoice master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": {
							"value": "Delete from EG_Inv_Mst where \nconvert(date,d_date) >='@{activity('Get Max Date From Invoice Master table').output.firstRow.Max_Date}'",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "c_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_year",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_srno",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_srno",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "d_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "d_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "t_time",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "t_time",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "c_sman_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_sman_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_dman_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_dman_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_cust_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_cust_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_patient",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_patient",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_doctor_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_doctor_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_doctor_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_doctor_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_total",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_total",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_st",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_st",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_cst",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_cst",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_rst",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_rst",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_disc_rs",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_disc_rs",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_discount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_discount",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_other_charge",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_other_charge",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_tax_suffer",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_tax_suffer",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_discount_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_discount_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_taxable_ret",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_taxable_ret",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_non_taxable_ret",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_non_taxable_ret",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_credit_act",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_credit_act",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_round_off",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_round_off",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_counter_sale",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_counter_sale",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_cnt_no",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_cnt_no",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_ok",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_ok",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_cancel_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_cancel_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "d_ldate",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "d_ldate",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "n_vaton",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_vaton",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_order_year",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_order_year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_order_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_order_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_order_no",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_order_no",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_approved",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_approved",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_shift",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_shift",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_ipno",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_ipno",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_remark",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_remark",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_patient_details",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_patient_details",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_card_bank_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_card_bank_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_ref_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_ref_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_user",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_user",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_points",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_points",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_point_redeem",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_point_redeem",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_point_value",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_point_value",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_pcbc_charge",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_pcbc_charge",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "t_ltime",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "t_ltime",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "d_remind_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "d_remind_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "n_card_reverse_dis",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_card_reverse_dis",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_doctor_office_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_doctor_office_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_mobile",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_mobile",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "d_ref_dt",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "d_ref_dt",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "n_day_seq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_day_seq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_lr_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_lr_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "d_lr_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "d_lr_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "d_stock_sent_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "d_stock_sent_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "n_cases",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_cases",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_credit_days",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_credit_days",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_admin_settlement",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_admin_settlement",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_terms_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_terms_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_reg_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_reg_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_email",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_email",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_mr_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_mr_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_transport_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_transport_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_urgent",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_urgent",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_modiuser",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_modiuser",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_tender_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_tender_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_token_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_token_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_coupon_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_coupon_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_coupon_srno",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_coupon_srno",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_store_track",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_store_track",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_ip_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_ip_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_tran_type",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_tran_type",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_currency_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_currency_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_exchange_rate",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_exchange_rate",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_computer_name",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_computer_name",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_sys_user",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_sys_user",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_sys_ip",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_sys_ip",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_multi_payment",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_multi_payment",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_pay_code1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_pay_code1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_pay_amt1",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_pay_amt1",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_pay_ac_code1",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_pay_ac_code1",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_pay_code2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_pay_code2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_pay_amt2",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_pay_amt2",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_pay_ac_code2",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_pay_ac_code2",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_pay_code3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_pay_code3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_pay_amt3",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_pay_amt3",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_pay_ac_code3",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_pay_ac_code3",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_pay_code4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_pay_code4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_pay_amt4",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_pay_amt4",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_pay_ac_code4",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_pay_ac_code4",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_pay_code5",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_pay_code5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_pay_amt5",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_pay_amt5",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_pay_ac_code5",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_pay_ac_code5",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_marketplace_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_marketplace_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_trader_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_trader_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_trader_comm_total",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_trader_comm_total",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_trader_charge_total",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_trader_charge_total",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_trader_charge1_total",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_trader_charge1_total",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_inter_pur",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_inter_pur",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_order_id",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_order_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_debit_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_debit_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_vat_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_vat_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_purord_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_purord_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_share_disc",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_share_disc",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_integration_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_integration_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_cst_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_cst_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_st_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_st_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_amt_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_amt_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_disc_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_disc_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_discrs_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_discrs_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_oth_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_oth_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_update_stock",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_update_stock",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "t_from_time",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "t_from_time",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "t_to_time",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "t_to_time",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "c_note",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_note",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_point_factor",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_point_factor",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_gst_enabled",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_gst_enabled",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_from_gst_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_from_gst_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_from_gst_type",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_from_gst_type",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_to_gst_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_to_gst_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_sale_type",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_sale_type",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_cgst_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_cgst_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_cgst_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_cgst_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_sgst_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_sgst_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_sgst_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_sgst_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_igst_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_igst_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_igst_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_igst_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_cess_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_cess_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_cess_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_cess_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_state_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_state_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_eway_bill_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_eway_bill_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_pk",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_pk",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_to_gst_type",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_to_gst_type",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_print_format_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_print_format_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_cess_rev_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_cess_rev_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_cgst_rev_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_cgst_rev_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_sgst_rev_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_sgst_rev_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_igst_rev_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_igst_rev_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_service_chg",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_service_chg",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_port_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_port_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_taxable_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_taxable_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_pending_points",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_pending_points",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_pay_ac1_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_pay_ac1_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_pay_ac2_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_pay_ac2_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_pay_ac3_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_pay_ac3_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_pay_ac4_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_pay_ac4_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_pay_ac5_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_pay_ac5_flag",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "d_eway_bill_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "d_eway_bill_date",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "c_tran_gst_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_tran_gst_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_dist_km",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_dist_km",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_service_amt_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_service_amt_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_ip_det_seq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_ip_det_seq",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_aadhar_no",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_aadhar_no",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_doctor_address",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_doctor_address",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_act_sman_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_act_sman_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_advance_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_advance_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_ord_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_ord_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_ord_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_ord_prefix",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_ord_year",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_ord_year",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_ord_no",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_ord_no",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_ord_pk",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_ord_pk",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_add_cess_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_add_cess_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_add_cess_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_add_cess_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_cogs_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_cogs_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "c_inventory_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_inventory_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_cogst_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_cogst_act_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "c_admin_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "c_admin_br_code",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "n_tcs_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_tcs_per",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_tcs_taxable_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_tcs_taxable_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							},
							{
								"source": {
									"name": "n_tcs_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								},
								"sink": {
									"name": "n_tcs_amt",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 18,
									"precision": 38
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "InvMstOutputTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_EG_Inv_Mst",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "Invoice"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-23T11:49:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}