pipeline/Daily T-7 Cancel Order Details Incremental Load.json
{
	"name": "Daily T-7 Cancel Order Details Incremental Load",
	"properties": {
		"activities": [
			{
				"name": "Get Max Date from Order Detail",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "Select DateAdd(DD,-7,max(order_date)) as maxdate from OMS_Cancel_Order_Details",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OMSSqlServerTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "MySQL to SQL server Cancel Order",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Max Date from Order Detail",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": {
							"value": "SELECT DISTINCT \nws.sale_id AS Order_Id\n,ws.sale_code\n,ws.created_date AS Order_Date\n,STR_TO_DATE(ws.processing_date,'%Y-%m-%d %H:%i:%s') as processing_date\n,STR_TO_DATE(ws.invoice_date,'%Y-%m-%d %H:%i:%s') as invoice_date\n,ws.user_name AS Customer_Name\n,ws.Customer_id\n,ws.store_id\n,wd.rx_type AS RX_type\n,wd.product_id\n,wd.mrp\n,wd.price\n,wd.quantity\n,ws.coupon_discount AS discount_on_order\n,ws.coupon_code\n,ws.grand_total\n,ws.order_invoice_amt\n,ws.txn_status\n,ws.payment_type AS Payment_mode\n,ws.online_TXN\n,ws.ERP_transactionid AS ERP_Id\n,ws.order_invoice_no AS Invoice_no\n,ws.delivery_status AS Order_Status\n,ws.partial_invoice\n,ws.DMS_jobid\n,ws.dman_id\n,ws.dman_name\n,ws.thirdPartyJobStatus\n,ws.three_pl_name\n,STR_TO_DATE(ws.DMS_eta_IST,'%Y-%m-%d %H:%i:%s') AS Actual_Delivery_date\n,STR_TO_DATE(ws.delivered_date,'%Y-%m-%d %H:%i:%s') AS Delivered_date\n,ws.cancel_reason\n,ws.remark\n,ws.MFM_timeframe\n,ws.sale_platform\n,ws.dman_payment_status AS Reconciled\n,ws.collected_amount AS Collected_amount\n,wd.item_code\n,concat(ws.store_id, '/', ws.sale_id, '/', wd.item_code) as brcode_orderid_itemcode_key\n,ws.order_parent_id\n,ws.buyer\nFROM wellnessDB.order_details wd\nLEFT JOIN wellnessDB.sale ws ON wd.sale_id = ws.sale_id\nWHERE \nws.created_date >='@{activity('Get Max Date from Order Detail').output.firstRow.maxdate}'\nAND wd.status = 1 and ws.delivery_status like '%cancel%'\nORDER BY ws.sale_id ASC",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": {
							"value": "Delete from OMS_Cancel_Order_Details where \nconvert(date,order_date) >= '@{activity('Get Max Date from Order Detail').output.firstRow.maxdate}'",
							"type": "Expression"
						},
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OMSMySqlTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "OMS_CancelOrder_Outputtable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure update columns",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "MySQL to SQL server Cancel Order",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[USP_Daily_Incremental_Cancel_Order_Deatils]",
					"storedProcedureParameters": {
						"date": {
							"value": {
								"value": "@activity('Get Max Date from Order Detail').output.firstRow.maxdate",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "Data360MSSQL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Order Details/Incremental Load Pipeline"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-23T11:31:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}