pipeline/Fill Ratio Backup.json
{
	"name": "Fill Ratio Backup",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "InventoryFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "ForEachFolder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data inv det",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data Gdn Det",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "inventory/@{item().name}/grn_det"
								},
								{
									"name": "Destination",
									"value": "dbo.grn_det"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": "2021-08-01T00:00:00Z",
										"modifiedDatetimeEnd": "2021-08-17T00:00:00Z",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "c_br_code",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_br_code",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "c_item_code",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "grn_item_code",
												"type": "Int64",
												"physicalType": "bigint"
											}
										},
										{
											"source": {
												"name": "c_year",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_year",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "c_prefix",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_prefix",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "n_srno",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_srno",
												"type": "Int64",
												"physicalType": "bigint"
											}
										},
										{
											"source": {
												"name": "d_date",
												"type": "DateTime",
												"physicalType": "INT96"
											},
											"sink": {
												"name": "d_date",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"source": {
												"name": "n_qty",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "grn_qty",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_amount",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "grn_amount",
												"type": "Double",
												"physicalType": "float"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "InvDetInputFile",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "InvDetOutputTable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data Gdn Det",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": "2021-08-01T00:00:00Z",
										"modifiedDatetimeEnd": "2021-08-17T00:00:00Z",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"preCopyScript": "truncate table dbo.gdn_det_staging"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "c_br_code",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_br_code",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "c_item_code",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "gdn_item_code",
												"type": "Int64",
												"physicalType": "bigint"
											}
										},
										{
											"source": {
												"name": "d_ldate",
												"type": "DateTime",
												"physicalType": "INT96"
											},
											"sink": {
												"name": "d_idate",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"source": {
												"name": "c_year",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_year",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "c_prefix",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_prefix",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "n_srno",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_srno",
												"type": "Int64",
												"physicalType": "bigint"
											}
										},
										{
											"source": {
												"name": "n_seq",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_seq",
												"type": "Int32",
												"physicalType": "int"
											}
										},
										{
											"source": {
												"name": "d_date",
												"type": "DateTime",
												"physicalType": "INT96"
											},
											"sink": {
												"name": "d_date",
												"type": "DateTime",
												"physicalType": "datetime"
											}
										},
										{
											"source": {
												"name": "n_qty",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "gdn_qty",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_pur_rate",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_pur_rate",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_amount",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "gdn_amount",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_sale_rate",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_sale_rate",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_taxable_amt",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_taxable_amt",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_cogs_amt",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_cogs_amt",
												"type": "Double",
												"physicalType": "float"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "GdnDetInputFile",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": "@item().name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "GdnDetOutputTable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data Order Det",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data inv det",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": "2021-08-01T00:00:00Z",
										"modifiedDatetimeEnd": "2021-08-17T00:00:00Z",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OrderDetInputFile",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OrderDetOutputTable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data Order Mst",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data Order Det",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": "2021-08-01T00:00:00Z",
										"modifiedDatetimeEnd": "2021-08-17T00:00:00Z",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OrderMstInputFile",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OrderMstOutputTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-08-17T09:50:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}