pipeline/Full Load Item Master.json
{
	"name": "Full Load Item Master",
	"properties": {
		"activities": [
			{
				"name": "Copy data Item Master",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data EG Get Item",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "truncate TABLE  Eco_Green_Item_Master",
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ecogreen_Itemmaster_OutputFile",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ItemMasterOutPutTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data EG Get Item",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Delete Item Master CSV File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SybaseSource",
						"query": "SELECT Item_mst.c_code AS Item_Code,\n       Item_mst.c_name AS Item_Name,\n       item_mst.d_adate as Created_date,\ncase when item_category_class_mst.c_code='ICL003' or item_category_class_mst.c_code='L1P001' or item_category_class_mst.c_code='L1P002' then 'PHARMA'\n\t when  item_category_class_mst.c_code='ICL004' then 'SURGICAL'\n\t when item_category_class_mst.c_code='ICL007' then 'CONSUMABLE'\n\t when item_category_class_mst.c_code='L1P005' then 'OPRS'\nelse 'FMCG' end  As Main_Category,\n     \n       item_category_mst.c_name AS category,\n       item_category_class_mst.c_name As Category_Class,\n       item_category_head_mst.c_name As Category_Head,\n     \n       item_group_mst.c_name AS Group_Name,\n     \n       Item_mst.n_lock_po AS Lock_PO,\n      Item_mst.n_lock AS n_lock\nFROM Item_mst\n     \nINNER JOIN item_category_mst ON Item_mst.c_cat_code = item_category_mst.c_code\nINNER JOIN item_category_head_mst ON item_category_mst.c_item_category_head_code = item_category_head_mst.c_code\nINNER JOIN item_category_class_mst ON item_category_head_mst.c_item_category_class_code = item_category_class_mst.c_code\ninner join item_group_mst on item_group_mst.c_code = item_mst.c_group_code"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Ds_Ecogreenv2",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Ecogreen_Itemmaster_OutputFile",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure Update Column",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data Item Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_Eco_Green_Update_Columns]"
				},
				"linkedServiceName": {
					"referenceName": "Data360MSSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Delete Item Master CSV File",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Ecogreen_Itemmaster_OutputFile",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Copy data EG Get Item Failure Mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data EG Get Item",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-03.centralindia.logic.azure.com:443/workflows/464eb5db81654a119fbde64f7815052d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=mF2jqmQWzHvsdtjGxGf4ajGCuU9BPmu1x3S0gtBtHF8",
					"method": "POST",
					"body": {
						"value": "{\n\"Process\":\"Copy data EG Get Item Failure Mail\",\n\"Pipeline\":\"@{pipeline().Pipeline}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"ErrorMessage\":\"@{activity('Copy data EG Get Item').Error.Message}\",\n\"Runid\":\"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data Item Master Failure Mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data Item Master",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-03.centralindia.logic.azure.com:443/workflows/464eb5db81654a119fbde64f7815052d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=mF2jqmQWzHvsdtjGxGf4ajGCuU9BPmu1x3S0gtBtHF8",
					"method": "POST",
					"body": {
						"value": "{\n\"Process\":\"Copy data Item Master Failure Mail\",\n\"Pipeline\":\"@{pipeline().Pipeline}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"ErrorMessage\":\"@{activity('Copy data Item Master').Error.Message}\",\n\"Runid\":\"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure Update Column Failure Mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Stored procedure Update Column",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-03.centralindia.logic.azure.com:443/workflows/464eb5db81654a119fbde64f7815052d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=mF2jqmQWzHvsdtjGxGf4ajGCuU9BPmu1x3S0gtBtHF8",
					"method": "POST",
					"body": {
						"value": "{\n\"Process\":\"Stored procedure Update Column Failure Mail\",\n\"Pipeline\":\"@{pipeline().Pipeline}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"ErrorMessage\":\"@{activity('Stored procedure Update Column').Error.Message}\",\n\"Runid\":\"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "ECO Green"
		},
		"annotations": [],
		"lastPublishTime": "2021-11-09T04:24:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}