pipeline/Full Load Product Master.json
{
	"name": "Full Load Product Master",
	"properties": {
		"activities": [
			{
				"name": "Copy data Product",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "select * from product;"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "drop table OMS_Product;",
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OMSMySqlTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Product_OutPutTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Copy data Product Failure Mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy data Product",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-03.centralindia.logic.azure.com:443/workflows/464eb5db81654a119fbde64f7815052d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=mF2jqmQWzHvsdtjGxGf4ajGCuU9BPmu1x3S0gtBtHF8",
					"method": "POST",
					"body": {
						"value": "{\n\"Process\":\"Copy data into Excel\",\n\"Pipeline\":\"@{pipeline().Pipeline}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"ErrorMessage\":\"@{activity('Copy data Product').Error.Message}\",\n\"Runid\":\"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Master"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-26T03:55:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}