pipeline/Incremental Load Appsflyer Master.json
{
	"name": "Incremental Load Appsflyer Master",
	"properties": {
		"activities": [
			{
				"name": "Get Max Date from Appsflyer source Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select max(LastRun_Date) as maxdate from LastRunTime",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OMSSqlServerTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Distinct Appsflyer IDs",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Max Date from Appsflyer source Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select  distinct afid from OMS_appsflyer2 where convert(date,created) >=\n'@{activity('Get Max Date from Appsflyer source Data').output.firstRow.maxdate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "truncate table temp_appsflyerIDs;",
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OMSSqlServerTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AppsflyerIDs_TempTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Loads Customer Master",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Distinct Appsflyer IDs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_Incremental_Load_appsflyer_customer_master]"
				},
				"linkedServiceName": {
					"referenceName": "Data360MSSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Load Appsflyer flags",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Loads Customer Master",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_Incremental_Load_Appsflyer_update_flags]"
				},
				"linkedServiceName": {
					"referenceName": "Data360MSSQL",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Max Date Failure Mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Max Date from Appsflyer source Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-03.centralindia.logic.azure.com:443/workflows/464eb5db81654a119fbde64f7815052d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=mF2jqmQWzHvsdtjGxGf4ajGCuU9BPmu1x3S0gtBtHF8",
					"method": "POST",
					"body": {
						"value": "{\n\"Process\":\"Get Max Date Failure Mail\",\n\"Pipeline\":\"@{pipeline().Pipeline}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"ErrorMessage\":\"@{activity('Get Max Date from Appsflyer source Data').Error.Message}\",\n\"Runid\":\"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Distinct Appsflyer IDs Failure Mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Distinct Appsflyer IDs",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-03.centralindia.logic.azure.com:443/workflows/464eb5db81654a119fbde64f7815052d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=mF2jqmQWzHvsdtjGxGf4ajGCuU9BPmu1x3S0gtBtHF8",
					"method": "POST",
					"body": {
						"value": "{\n\"Process\":\"Distinct Appsflyer IDs Failure Mail\",\n\"Pipeline\":\"@{pipeline().Pipeline}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"ErrorMessage\":\"@{activity('Distinct Appsflyer IDs').Error.Message}\",\n\"Runid\":\"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Loads Customer Master Failure Mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Loads Customer Master",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-03.centralindia.logic.azure.com:443/workflows/464eb5db81654a119fbde64f7815052d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=mF2jqmQWzHvsdtjGxGf4ajGCuU9BPmu1x3S0gtBtHF8",
					"method": "POST",
					"body": {
						"value": "{\n\"Process\":\"Loads Customer Master Failure Mail\",\n\"Pipeline\":\"@{pipeline().Pipeline}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"ErrorMessage\":\"@{activity('Loads Customer Master').Error.Message}\",\n\"Runid\":\"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Load Appsflyer flags Failure Mail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Load Appsflyer flags",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-03.centralindia.logic.azure.com:443/workflows/464eb5db81654a119fbde64f7815052d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=mF2jqmQWzHvsdtjGxGf4ajGCuU9BPmu1x3S0gtBtHF8",
					"method": "POST",
					"body": {
						"value": "{\n\"Process\":\"Load Appsflyer flags Failure Mail\",\n\"Pipeline\":\"@{pipeline().Pipeline}\",\n\"DataFactoryName\":\"@{pipeline().DataFactory}\",\n\"ErrorMessage\":\"@{activity('Load Appsflyer flags').Error.Message}\",\n\"Runid\":\"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "AppsFlyer"
		},
		"annotations": [],
		"lastPublishTime": "2021-10-22T09:50:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}