pipeline/Inv Det Mst Backup.json
{
	"name": "Inv Det Mst Backup",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.FolderNameArray",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Inv Det_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "InvDetInputFile",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "InvDetOutputTable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data Inv Mst",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Inv Det_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "InvMstInputFile",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "InvMstOutputTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FolderNameArray": {
				"type": "array",
				"defaultValue": [
					"2021-08-18",
					"2021-08-18Sync",
					"2021-08-19",
					"FullLoad"
				]
			}
		},
		"folder": {
			"name": "Invoice"
		},
		"annotations": [],
		"lastPublishTime": "2022-02-23T11:49:43Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}