pipeline/Upsert Stock mst and stock.json
{
	"name": "Upsert Stock mst and stock",
	"properties": {
		"activities": [
			{
				"name": "Get Datewise folder",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "declare @invtemp as table\n(\ndates nvarchar(100)\n)\n\nDeclare \n@i int,\n@maxdate varchar(100),@days int, \n@syncdate nvarchar(100),@nextdate nvarchar(100)\n\nset @maxdate = (Select dateadd(day,-1,convert(date,GETDATE())) as maxdate)\nset @days  = datediff(day, convert(date, @maxdate), convert(date, getdate()))\n\nset @i = 1\nset @syncdate= @maxdate + 'Sync'\n\ninsert into @invtemp\nselect @maxdate\ninsert into @invtemp\nselect @syncdate\n\nwhile @i <= @days-1\nBegin\n\nset @nextdate = convert(varchar,convert(date, dateadd(day, @i, @maxdate)))\nset @syncdate=  concat(convert(varchar,convert(date, dateadd(day, @i, @maxdate))) , 'Sync')\n\ninsert into @invtemp\nselect @nextdate\ninsert into @invtemp\nselect @syncdate\n\nset @i = @i + 1\n\nend\n\n\nselect * from @invtemp",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OMSSqlServerTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Datewise folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Datewise folder').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data stock_mst",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "c_item_code",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_item_code",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "c_batch_no",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_batch_no",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "d_exp_dt",
												"type": "DateTime",
												"physicalType": "INT96"
											},
											"sink": {
												"name": "d_exp_dt",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "n_mrp",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_mrp",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_pur_rate",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_pur_rate",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_sale_rate",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_sale_rate",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_eff_pur_rate",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_eff_pur_rate",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_tax_suffer",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_tax_suffer",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_inc_exc_tax",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_inc_exc_tax",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_add_val",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_add_val",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_lock",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_lock",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_mrp_box",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_mrp_box",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_pur_rate_box",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_pur_rate_box",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_qty_per_box",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_qty_per_box",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "d_ldate",
												"type": "DateTime",
												"physicalType": "INT96"
											},
											"sink": {
												"name": "d_ldate",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "d_adate",
												"type": "DateTime",
												"physicalType": "INT96"
											},
											"sink": {
												"name": "d_adate",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "c_createuser",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_createuser",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "n_audited",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_audited",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_predefined",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_predefined",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_ptr_box",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_ptr_box",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_ptr",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_ptr",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "t_ltime",
												"type": "DateTime",
												"physicalType": "INT96"
											},
											"sink": {
												"name": "t_ltime",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "c_mfac_sh_name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_mfac_sh_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "n_permanent_lock",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_permanent_lock",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "c_note",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_note",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "c_brand_name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_brand_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "c_mfac_name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_mfac_name",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "d_mfg_dt",
												"type": "DateTime",
												"physicalType": "INT96"
											},
											"sink": {
												"name": "d_mfg_dt",
												"type": "DateTime",
												"physicalType": "datetime2"
											}
										},
										{
											"source": {
												"name": "c_modiuser",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "c_modiuser",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "n_qc_per1",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_qc_per1",
												"type": "Double",
												"physicalType": "float"
											}
										},
										{
											"source": {
												"name": "n_qc_per2",
												"type": "Decimal",
												"physicalType": "DECIMAL"
											},
											"sink": {
												"name": "n_qc_per2",
												"type": "Double",
												"physicalType": "float"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "StockMstInputFile",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item().dates",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Stock_mst_tempTable",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Copy data Stock",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "EAStock_InputFile",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@item().dates",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "EAStockOutPutTable",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "SP update upsert key column",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_upsert_stock_and_stock_mst_update_upsert_key]"
				},
				"linkedServiceName": {
					"referenceName": "Data360MSSQL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "Expiry Analysis"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-09T05:54:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}